@charset "utf-8";

/***** common *****/
body {
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  word-break: break-all;
  overflow-wrap: break-word;
  height: 200vh;
}

/***** header *****/
/* header {
  width: 100%; height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
} */

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
}

header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; height: 54px;
  padding: 0 16px;
}

header .header-nav .global-menu {
  display: flex;
}

header .header-nav .global-menu li {
  padding-left: 23px;
}

header .header-nav .global-menu li a span {
  display: none;
}

main .main-menu {
  position: fixed;
  width: 100%;
  top: 54px;
  display: none;
}

main .main-menu ul li {
  background-color: #fff;
  padding: 20px 25px;
  border-bottom: 1px solid #ddd;
  display: block;
  font-weight: 400;
}

main .main-menu ul li:nth-child(1) a, main .main-menu ul li:nth-child(6) a, main .main-menu ul li:nth-child(7) a {
  font-family: 'Abhaya Libre', Georgia, 'Times New Roman', Times, serif;
}

/***** pc *****/
@media screen and (min-width: 768px) {
  header .header-nav {
    background-color: #fff;
    height: 97px;
    padding: 0 20px;
  }

  header .header-nav h1 img {
    width: 140px;
  }
  
  header .header-nav .global-menu li a .search, header .header-nav .global-menu li a .user, header .header-nav .global-menu li a .menu {
    display: none;
  }
  
  header .header-nav .global-menu li a span {
    display: block;
    font-family: 'Abhaya Libre', Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 20px;
    color: #171717;
  }
  
  header .header-nav .global-menu li a .cart {
    width: 25px;
  }

  main {
    /* display: flex; */
  }

  main .main-menu {
    display: none;
    /* flex-grow: 1; */
    max-width: 280px;
    position: fixed;
    top: 97px;
  }
  
  main .main-menu ul li {
    background-color #ddd;
    border: none;
    padding: 10px 29px;
  }

  main .product-list {
    width: calc(100vw - 280px);
    display: block;
    position: absolute;
    top: 30px;
    right: 0;
  }
}