@charset "utf-8";

@media screen and (min-width: 768px) {
  header .main-menu {
    flex-grow: 1;
  }
  /***** 상품 리스트 *****/
  main {
    flex-grow: 6;
    /* padding-left: 280px; */
  }
  /*-- 메인 상품 리스트 --*/
  .main-products ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
  }

  /*- 서브 상품 리스트 -*/
  .sub-products ul {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}